* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}
header, footer {
	background-color: #ccc;
}
#site{
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 920px){
		flex-direction: row-reverse;
	}
}
section{
	border: 2px solid #666fab;
}
@mixin box($side){
	width: $side;
	height: $side;
}
#battleArena {
	display:flex;
	flex-direction: column;
}
.deck{
	display:flex;
	justify-content: space-around;
}
#chosenPlayer, #onDeck {
	@include box(9em);
	display: flex;
	justify-content: center;
	align-items: center;
}
#chosenPlayer {
	border: 2px solid green;
	border-radius: 50%;
}
#onDeck {
	border: 2px solid red;
	border-radius: 50%;
}
.chosenPlayer, .onDeck{
	display: flex;
	flex-direction: column;
	align-items:center;
}
#opponentsUpNext {
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#charBank {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
}
.characterFrame{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.2em;
}
#charBank, #battleArena {
	@media screen and (min-width: 920px){
		flex: 1;
	}
}

#attackDiv {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
	flex-basis: 4em;
	visibility: hidden;
	border: 1px solid black;
	button {
		width: fit-content;
	}
}

// .pie-rest {
//   background-image: url(../images/pie-rest.svg); }

// .icecream-rest {
//   background-image: url(../images/icecream-rest.svg); }

// .donut-rest {
//   background-image: url(../images/donut-rest.svg); }

// .waffle-rest {
//   background-image: url(../images/waffle-rest.svg); }

// .pie-player {
//   background-image: url(../images/pie-player.svg); }

// .icecream-player {
//   background-image: url(../images/icecream-player.svg); }

// .donut-player {
//   background-image: url(../images/donut-player.svg); }

// .waffle-player {
//   background-image: url(../images/waffle-player.svg); }

